:root {
    --primary-color: #DFB692;
    --secondary-color: #6B291D;
    --tetriary-color: #2E978E;
}


#see-scores {
    background-color: white;
    border: none;
    color: var(--secondary-color);
}

#see-scores:hover {
    color: var(--tetriary-color); 
}

.header-style {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    font-size: 15px;
}

#main-quiz {
    text-align: center;
}

.questions li {
    list-style: none;
}

#answers {
    padding-inline-start:0px;
}

.btn, #btn-start {
    background-color: var(--tetriary-color);
    color: white; 
    border-radius: 5px; 
    border-style: none;
    padding: 10px; 
    margin: 3px; 
}

.a-btn:hover, #btn-start:hover, .btn:hover {
    background-color: var(--primary-color);
}


.timer {
    color: var(--secondary-color);
    font-size: large;
    font-weight: bold;
}

#quiz-end{
    display:none;
}

#high-scores {
    display: none;
}

#questions-container h2 {
    display:none;
}